* {
    margin: 0;
    padding: 0;
}

.container {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#dark {
    cursor: pointer;
    position: absolute;
    right: 20px;
    top: 20px;
}

header {
    padding: 15px;
    text-align: center;
}

h1 {
    padding: 15px;
    font-size: 50px;
}

.titulo {
    padding: 15px;
    font-size: 25px;
}

.menu {
    padding: 30px;
}

#btn-menu {
    display: none;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    background-color: gray;
    padding: 10px;
}

ul {
    display: flex;
    justify-content: space-between;
}

li {
    background-color: rgb(206, 195, 195);
    padding: 10px;
    flex: 1;
    list-style-type: none;
    font-size: 25px;
}

.carros {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
}

.card {
    border: 1px solid black;
    width: 450px;
    height: 600px;
    padding: 10px;
    background-color: cadetblue;
}

img {
    width: 100%;
    height: 350px;
}

h3 {
    text-align: center;
}

button {
    position: relative;
    left: 150px;
    width: 120px;
    height: 30px;
    cursor: pointer;
    border-radius: 30px;
    background-color: blue;
    color: white;
    
}

button:hover {
    background-color: lightseagreen;
}


.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background: rgba(0,0,0,0.8); 
  justify-content: center;
  align-items: center;
}


.modal-content {
  background: #fff;
  padding: 20px;
  width: 800px;
  height: 600px;
  text-align: center;
  border-radius: 8px;
}

.modal-content img {
  max-width: 100%;
  border-radius: 8px;
}


.fechar {
  position: absolute;
  top: 20px; right: 30px;
  font-size: 40px;
  color: white;
  cursor: pointer;
}

footer {
    text-align: center;
    font-size: 20px;
    padding: 12px;
}

@media (max-width: 768px) {
    .carros {
        display: block;
    }

   ul {
    display: block;
   }

   li {
    border: 1px solid black;
    padding: 10px;
    background-color: rgb(206, 195, 195);
   }

   .card {
    width: 95%;
   }

   li {
    cursor: pointer;
   }

   li:hover {
    background-color: gray;
   }


   #btn-menu {
    display: block;
    cursor: pointer;
   }
}

